language: minimal
dist: xenial
services:
  - docker

before_install:
  - curl https://raw.githubusercontent.com/plicease/cip/master/bin/travis-bootstrap | bash
  - cip before-install

install:
  - cip diag
  - cip install

script:
  - cip script

jobs:
  include:
    - env: CIP_TAG=5.28-bionic
    - env: CIP_TAG=5.28-jessie
    - env: CIP_TAG=5.28-xenial

cache:
  directories:
    - "$HOME/.cip"
